body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
#root{
    background: black;
    width: 100vw;
    height: fit-content;
    transition: all 300ms ease;
}

.fadeInterface{
    animation: fade 1.5s linear;
}

#perguntaCase{
    display: none;
    height: 0;
}
#selecionarModeloCase{
    background-color: black;
    color: white;
}
#playerCase{
    display: none;
}
#chatCase{
    display: none;
    height: 0;
}
#tipoMicrofoneCase{
    background-color: black;
    color: white;
}
#microfoneCase{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
#microfoneCase.ativo,
#microfone.ativo{
    background-image: url(assets/rec.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
#microfoneCase.ativo img,
#microfone.ativo img {
    display: none;
}
#player{
    max-width: 100%;
    background-color: none;
    color: blue;
}

/* CONFIGURAÇÕES GERAIS */
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body{
    background-color: #000000;
    background-image:
    linear-gradient(rgba(0,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}
body.fade{
    opacity: 0;
    transition: 0.5s;
}
body.scroll-desativado{
    overflow-y: hidden;
    overflow-x: hidden;
}
canvas{
    filter: drop-shadow(0 0 10px cyan);
}


/*CELULAR*/
@media (max-width: 768px) and (max-width: 1024px) {
    html{
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
    background-image:
    linear-gradient(rgba(0,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}
body.fade{
    opacity: 0;
    transition: 0.5s;
}

}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
