body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
#root{
    background: #000000;
    background: radial-gradient(circle,rgb(14, 32, 39) 0%, rgba(0, 0, 0, 1) 50%, rgba(5, 5, 5, 1) 100%);
    width: 100vw;
    height: fit-content;
    transition: all 300ms ease;
}
#perguntaCase{
    display: none;
    height: 0;
}
#selecionarModeloCase{
    background-color: black;
    color: white;
}
#playerCase{
    display: none;
}
#chatCase{
    display: none;
    height: 0;
}
#tipoMicrofoneCase{
    background-color: black;
    color: white;
}
#microfoneCase{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
}
#microfoneCase.ativo,
#microfone.ativo{
    background-image: url(assets/rec.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
#microfoneCase.ativo img,
#microfone.ativo img {
    display: none;
}
#player{
    max-width: 100%;
    background-color: none;
    color: blue;
}

/* CONFIGURAÇÕES GERAIS */
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body{
    background-color: #000000;
    background-image:
    linear-gradient(rgba(0,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}
body.fade{
    opacity: 0;
    transition: 0.5s;
}
body.scroll-desativado{
    overflow-y: hidden;
    overflow-x: hidden;
}
canvas{
    filter: drop-shadow(0 0 10px cyan);
}
/* ================================================== */
/*VÍDEO*/
#introVideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999;
    display: none;
    background: black;
    overflow-y: hidden;
}
/* ================================================== */
/* TEXTO */
.jarvis{
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    cursor: default;
    background:
    linear-gradient(
        to right,
        #0A84FF,
        #00E5FF
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nome{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
    position: fixed;
    float: right;
    font-size: 100px;
    right: 15%;
    top: 20vh;
    transition: 0.5s;
    text-shadow:
    0 0 5px cyan,
    0 0 5px rgba(0,255,255,0.5);
}
.nome.btn{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
    position: fixed;
    float: right;
    font-size: 30px;
    right: 2%;
    top: -8px;
    transition: 0.5s;
    text-shadow:
    0 0 10px cyan,
    0 0 30px rgba(0,255,255,0.5);
    animation: Pulso 2s 1;
}
.subTexto{
    color: white;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 4px;
    position: absolute;
    float: right;
    font-size: 20px;
    left: 61%;
    transform: translateX(-50%);
    top: 41vh;
    transition: 0.5s;
}
#digitando{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 3px;
    position: absolute;
    top: 4%;
    left: 2%;
    font-size: 60%;
    transition: 0.5s;
    background:
    linear-gradient(
        to right,
        hsl(209, 100%, 81%),
        #ffffff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:
    drop-shadow(0 0 7px cyan)
    drop-shadow(0 0 5px rgba(0,255,255,0.7));
    font-weight: 700;
}
#nomeP{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
}
#nomeP span{
    color: cyan;
    text-shadow:
    0 0 5px cyan,
    0 0 10px rgba(0,255,255,0.5);
}
#cargo{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
}
#cargo span{
    color: cyan;
    text-shadow:
    0 0 5px cyan,
    0 0 10px rgba(0,255,255,0.5);
}
#descricao{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
}
#descricao span{
    color: cyan;
    text-shadow:
    0 0 5px cyan,
    0 0 10px rgba(0,255,255,0.5);
}
/* ================================================== */
/* ANIMAÇÃO DO NOME */
@keyframes Pulso{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
/* ================================================== */
/* BOTÃO */
.botao{
    position: absolute;
    float: right;
    top: 52%;
    right: 49%;
    z-index: 999;
}
.ativar{
    position: absolute;
    width: 32.5vw;
    height: 10vh;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.2);
    font-size: 35px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    color: white;
    background-size: 300% 300%;
    background:
    rgba(0,229,255,0.15);
    box-shadow:
    0 0 10px rgba(0,229,255,0.4);
    animation:
    brilho 5s linear infinite,
    pulse 2s infinite;
    transition: all 0.4s ease;
}
.ativar:hover{
    transform: scale(1.03);
    background:
    rgba(0,229,255,0.25);
    box-shadow:
    0 0 10px rgba(0,229,255,0.8);
}
/* ================================================== */
/* ANIMAÇÕES BOTÃO */
@keyframes brilho{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}
@keyframes pulse{
    0%{
        box-shadow:
        0 0 5px cyan;
    }
    50%{
        box-shadow:
        0 0 10px cyan;
    }
    100%{
        box-shadow:
        0 0 5px cyan;
    }
}
/* ================================================== */
/* HUD */
.sync{
    position: fixed;
    z-index: 50;
    top: 92%;
    left: 1%;
    color: cyan;
    font-family: monospace;
    border: 1px solid rgba(0,255,255,0.3);
    padding: 5px;
    background: rgba(0,255,255,0.05);
    backdrop-filter: blur(3px);
    box-shadow:
    0 0 10px rgba(0,255,255,0.2);
    letter-spacing: 2px;
}
.canto{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    border-top: 2px solid cyan;
    border-left: 2px solid cyan;
    opacity: 0.4;
}
.scanline{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.3;
    background: rgba(0,255,255,0.3);
    box-shadow:
    0 0 10px cyan;
    animation: scan 6s linear infinite;
    pointer-events: none;
    z-index: 999;
}
.status{
    position: absolute;
    top: 5%;
    right: 30px;
    color: cyan;
    font-size: 12px;
    letter-spacing: 3px;
    opacity: 0.5;
    font-family: monospace;
}
.barra{
    position: absolute;
    top: 4%;
    left: 80%;
    width: 250px;
    height: 6px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    overflow: hidden;
}
.progresso{
    width: 0%;
    height: 100%;
    background: cyan;
    box-shadow:
    0 0 10px cyan,
    0 0 10px cyan,
    0 0 10px cyan;
    animation: carregar 3s infinite;
}
/* ================================================== */
/* ANIMAÇÕES HUD */
@keyframes scan{
    from{
        top: -10%;
    }
    to{
        top: 110%;
    }
}
@keyframes carregar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

#somos{
    line-height: normal;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
    position: absolute;
    bottom: 0%;
    font-size: 10mm;
    left: 50%;
    transform: translateX(-50%);
    background:
    linear-gradient(
        to right,
        hsl(209, 100%, 81%),
        #ffffff
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter:
    drop-shadow(0 0 7px cyan)
    drop-shadow(0 0 5px rgba(0,255,255,0.7));
}

/* ================================================== */
/* CARDS */
.cards{
    position: absolute;
    top: 105%;
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    z-index: 30;
}
.foto-card{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}
.card{
    will-change: transform, opacity;
    opacity: 0;
    width: 300px;
    height: 375px;
    padding: 29px;
    border-radius: 20px;
    background: rgba(0,255,255,0.08);
    border: 1px solid rgba(0,255,255,0.2);
    backdrop-filter: blur(3px);
    color: white;
    transition: 0.5s;
    transform: translateY(100px);
    font-family: 'Exo 2', sans-serif;
}
.card.aparecer{
    opacity: 1;
    transform: translateY(0);
    font-family: 'Exo 2', sans-serif;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,255,255,0.3);
}

/* ================================================== */
/* MODAL */
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(3px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content{
    width: 400px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(0,255,255,0.08);
    border: 1px solid rgba(0,255,255,0.2);
    color: white;
    position: relative;
    animation: popup 0.4s;
}
.fechar{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
#foto{
    width: 70%;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 40vh
    ;
}
/* ================================================== */
/* ANIMAÇÃO MODAL */
@keyframes popup{
    from{
        opacity: 0;
        transform: scale(0.7);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
/*====================================================*/



/*CELULAR*/
@media (max-width: 768px) and (max-width: 1024px) {
    html{
    scroll-behavior: smooth;
}
#chat{
    width: 90%;
}
body{
    background-color: #000000;
    background-image:
    linear-gradient(rgba(0,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.03) 1px, transparent 1px);
    background-size: 50px 50px;
}
body.fade{
    opacity: 0;
    transition: 0.5s;
}
#digitando{
    left: 4%;
}
/*TEXTO JARVIS (C)*/
.jarvis{
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    cursor: default;
    background:
    linear-gradient(
        to right,
        #0A84FF,
        #00E5FF
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nome{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
    position: fixed;
    float: right;
    font-size: 45px;
    right: 0%;
    top: 20vh;
    transition: 0.5s;
    text-shadow:
    0 0 5px cyan,
    0 0 5px rgba(0,255,255,0.5);
}
.nome.btn{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 8px;
    position: fixed;
    float: right;
    font-size: 30px;
    right: 2%;
    top: -8px;
    transition: 0.5s;
    text-shadow:
    0 0 10px cyan,
    0 0 30px rgba(0,255,255,0.5);
    animation: Pulso 2s 1;
    z-index: 10;
}
.subTexto{
    color: white;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 4px;
    position: absolute;
    float: right;
    font-size: 15px;
    right: 2%;
    top: 31vh;
    transition: 0.5s;
}
@keyframes Pulso{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
/* ================================================== */
/* BOTÃO */
.botao{
    position: absolute;
    float: right;
    top: 45%;
    right: 65%;
}
.ativar{
    position: absolute;
    width: 55.5vw;
    height: 10vh;
    border-radius: 14px;
    border: 1px solid rgba(255,255,255,0.2);
    font-size: 35px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    color: white;
    background-size: 300% 300%;
    background:
    rgba(0,229,255,0.15);
    box-shadow:
    0 0 10px rgba(0,229,255,0.4);
    animation:
    brilho 5s linear infinite,
    pulse 2s infinite;
    transition: all 0.4s ease;
}
.ativar:hover{
    transform: scale(1.03);
    background:
    rgba(0,229,255,0.25);
    box-shadow:
    0 0 10px rgba(0,229,255,0.8);
}
/*=======================================*/
/*BARRA DE PROGRESSO*/
.barra{
    position: absolute;
    left: 60%;
    width: 150px;
    height: 6px;
    background: rgba(255,255,255,0.1);
    border-radius: 20px;
    overflow: hidden;
}
.progresso{
    width: 0%;
    height: 100%;
    background: cyan;
    box-shadow:
    0 0 10px cyan,
    0 0 10px cyan,
    0 0 10px cyan;
    animation: carregar 3s infinite;
}
#somos{
    font-size: 25px;
}
@keyframes carregar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}
}
@media (min-width: 1600px) and (max-width: 1920px) {

.cards {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.container{
    margin-left: 120px;
}

.jarvis{
    margin-right: 50px;
}
.ativar{
    margin-left: 80px;
}
}

@media (min-width: 1440px) and (max-width: 1600px) {
    .container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}
